body{
    background-color:aliceblue;
    padding: 0px;
    margin: 0px auto;
    max-width: 1500px;
}

.header {
    background-color: #E6FFFB;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: flex-start;
    max-width: 1500px;
}

#title{
    font-size: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration-color: aliceblue;
    align-content: center;
    margin-left: 10px;
    margin-right: 10px;
    max-width: 1500px;
}

.container {
    height: 700px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: flex-start;
    align-items: center;
    text-align: center;
    position: absolute;
    padding: 30px;
    margin: 10px auto;
    max-width: 1500px;
    top: 100px;
}

.container_season, .container_table {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    align-items: center;
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
}

.table_section{
    text-indent: 10px;
    padding: 30px;
    margin: 10px auto;
    max-width: 1000px;
    align-items: center;
}

div {
    display: block;
}

.separator {
    background-color: black;
    width: 2px;
    height: 150px;
    margin-left: 5px;
    margin-right: 5px;
}

.footer {
    width: 100%;
    background-color: rgb(230,255,251);
    height: 35px;
    position: absolute;
    left: 0;
    bottom: 15px;
    line-height: 30px;
    align-items: center;
}

.about_page {
    font-size: large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}